{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости культуры</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'fonts/Manrope-VariableFont_wght.ttf' %}" rel="stylesheet">
    <link href="{% static 'fonts/RubikMonoOne-Regular.ttf' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-0e3476">
        <div class="container-fluid">
            <a href="{% url 'post_list' %}" class="navbar-brand">
                Новости
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expended="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'main_news' %}" class="nav-link">Главное</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'interesting_news' %}" class="nav-link">Интересное</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'politic_news' %}" class="nav-link">Политика</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'economic_news' %}" class="nav-link">Экономика</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'culture_news' %}" class="nav-link">Культура</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item register">
                            <a href="{% url 'logout' %}" class="nav-link" id="logout">Выйти</a>
                        </li>
                    {% else %}
                        <li class="nav-item login">
                            <a href="{% url 'login' %}" class="nav-link" id="login">Вход</a>
                        </li>
                        <li class="nav-item register">
                            <a href="{% url 'register' %}" class="nav-link" id="registration">Регистрация</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <div class="container main" style="margin-top: 5%;">
        <div class="row">
            <div class="col-md-8">
                <h1>Новости культуры</h1>
                {% for post in posts %}
                    {% if post.category == 'culture' %}
                    <a href="{% url 'post_detail' post_id=post.id %}">{{ post.title }}</a>
                    <p> {{ post.preview }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-4 last">
                <h2>Последние новости</h2>
                <ul class="list-group">
                    {% for post in posts|slice:":3" %}
                    <li class="list-group-item">
                        <a href="{% url 'post_detail' post_id=post.id %}">{{ post.title }}</a>
                        <div class="d-flex justify-content-between">
                            <span class="date">{{ post.created_date|date:"d.m.Y., H:i" }} </span>
                            <span class="comments">{{ post.comments_count }} Комментариев</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer fixed-bottom">
        <div class="container">
          <p class="text-center">Copyright &copy; 2023</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">О компании</a></li>
            <li class="list-inline-item"><a href="#">Контакты</a></li>
            <li class="list-inline-item"><a href="#">Политика конфиденциальности</a></li>
          </ul>
        </div>
    </footer>
</body>
</html>
